* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html{
  width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #2b3a55;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  height: 100px;
  max-width: 100%;
  background-color: #efe7e7;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: #ce7777;
  border-width: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

span{
  background-color: transparent;
}

#navbutton {
  margin-top: 35px;
  margin-left: 30px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  z-index: 3;
  background-color: #f2e5e5;
  height: 20px;
  overflow-y: hidden;
}

#navbutton.active {
  background-color: #e8c4c4;
}

#logo{
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
  min-width: 48px;
  height: 48px;
  background-color: #f2e5e5;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  z-index: 3;
}

#urnav {
  position: absolute;
  top: 0px;
  left: -300px;
  height: 100%;
  width: 200px;
  background-color: #e8c4c4;
  transition: 1s;
  z-index: 2;
  padding: 100px 30px;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

#urnav a {  
  display: block;
  padding: 10px 20px;
  margin: 20px auto 0px;
  font-size: 18px;
  background-color: #e8c4c4;
  border-radius: 10px;
  border-color: #ce7777;
  border-style: solid;
  border-width: 3px;
  color: black;
  text-decoration: none;
}

#urnav a:hover{
  background-color: #ce7777;
  color: #f2e5e5;
}

#urnav span{
  display: inline;
  vertical-align: top;
  margin-right: 5px;
}

#urnav.active {
  left: 0px;
}

#profsection {
  height: 300px;
  width: 95%;
  background-color: #e8c4c4;
  border-radius: 30px;
  border: solid #ce7777 3px;
  margin: 15px auto 0;
  display: flex;
  align-items: center;
  justify-items: center;
}

#dp {
  height: 200px;
  min-width: 200px;
  border: solid #2b3a55;
  border-radius: 20px;
  margin: 0 10px;
  overflow: hidden;
}

#dp img {
  width: 100%;
  height: 100%;
}

#profText{
  background-color: #e8c4c4;
  width: 100%;
  margin: 0 10px 0 0;
}

#name {
  height: 50px;
  width: 60%;
  text-align: center;
  background-color: #efe7e7;
  border: solid #2b3a55 5px; 
  border-radius: 0% 10px 0px 0%;
  justify-content: space-between;
} #name p {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 5px;
}

#aboutuser {
  height: 160px;
  margin: 10px 0 0;
  width: 98%;
  padding: 10px;
  border: solid #2b3a55 5px;
  background-color: #efe7e7;
  border-radius: 0px 0px 25px 0px;
}

#aboutuser p {
  font-family: 'Quicksand';
  font-size: 1.5rem;
  font-weight: bold;
}

#postsection {
  height: 800px;
  width: 95%;
  background-color: #e8c4c4;
  border: solid #ce7777 3px;
  margin: 15px auto 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#posting {
  width: 95%;
  background-color: #efe7e7;
  border-radius: 25px;
  border: solid #2b3a55 2px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#posting::-webkit-scrollbar {
  display: none;
}

.athr_contain {
  width: 15%;
  border-radius: 15px;
  margin-left: 10px;
}

.author {
  color: #efe7e7;
  font-size: 1.5rem;
  background-color: #2b3a55;
  font-family: "Quicksand";
  font-weight: bold;
  border-radius: 5px 0px 0px 0px;
  text-align: center;
}

.datentime {
  font-size: 20px;
  background-color: #ce7777;
  text-align: center;
  font-family: "Quicksand";
}

.text {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Mono";
  padding-top: 5px;
  padding-bottom: 20px;
}

.test {
  max-width: 500ch;
  padding: 10px;
  display: block;
  background-color: #e8c4c4;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.likeanddis_contain {
  text-align: center;
  min-width: 100%;
  margin-top: 1rem;
  background-color:  #e8c4c4;
  margin-bottom: 10px;
}

.up_vote {
  border-width: 0px;
  background-color:  #e8c4c4;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.4s;
}

.down_vote {
  border-width: 0px;
  background-color:  #e8c4c4;
  padding-left: 10px;
  padding-right: 10px;
}

/*.upvote_count {
  float: left;
  padding-top: 2px;
  font-size: 1.2rem;
  font-family: "Roboto Mono";
  font-weight: bold;
  margin-left: 44rem;
}

.downvote_count {
  float: right;
  padding-top: 2px;
  font-size: 1.2rem;
  font-family: "Roboto Mono";
  font-weight: bold;
  margin-right: 44rem;
}*/

.material-symbols-outlined {
  font-variation-settings: 0, 400, 0, 48;
  display: block;
  overflow-y: hidden;
  cursor: pointer;
}